/* Reglas CSS: selector { propiedad: valor; }
Si se requiere poner más de un selector,
se separa por una , - selector1, selector2 {etc}*/

/* ###### Box sizing ###### */
/* Las medidas siempre serán las indicadas, no es
recomendado porque afecta más cosas del modelo de caja. */
/* * {
  box-sizing: border-box;
} */

/* Para añadir fuentes personalizadas se utiliza la
regla @font-face */
/* @font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
} */

/* :root tiene peso superior cuando esta de seudoclase */
:root {
  font-size: 18px;
  /* Custom properties o variables en CSS nos ayudarán a
  almacenar datos para ser reutilizados por referencia en
  múltiples partes de nuestras hojas de estilo,
  son modificables según su contexto y también
  manipulables desde JavaScript  */
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

/* #### Posiciones #### */
html {
  scroll-behavior: smooth;
}

/* #### COLORES #### */
body {
  color: var(--gray30);
  /* #### Google Fonts #### */
  font-family: 'Roboto', sans-serif;
  /* font-family: charter; */
  /* #### Márgenes #### */
  margin: 0;
}
a {
  color: var(--gray30);
}
header {
  /* Para modificar el
  color en un cachito determinado */
  /* --gray10: red; */
  font-size: 14px;
  width: 188px;
  color: var(--gray10);

  /* #### Posiciones #### */
  position: absolute;
  /* border: 1px solid red; */
  /* 5 propiedades top left bottom right z-index */
  top: 64px;
  left: -232px;
  z-index: 1;

  /* position: absolute;
  position: fixed;
  position: sticky; */
}
/* selector anidado */
header a {
  color: var(--gray10);
  text-decoration: none;
}
header a:hover {
  color: var(--gray30);
}
nav details summary {
  font-weight: bold;
  line-height: 24px;
}
header li {
  margin-bottom: 16px;
}
h1 {
  font-size: 60px;
  /* text-decoration: underline; */
  /* font-size: 3.75em; */
  /* #### Márgenes #### */
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
  /* margin-left: 20px;
  margin-right: 10px; */
  /* ## propiedades lógicas ## */
  /* margin: top right bottom left; */
  /* margin: 64px 10px 16px 20px; */

  /* ###### Box sizing ###### */
  /* border: 10px solid red;
  width: 400px;
  height: 400px;
  padding: 40px; */
}
/* Márgenes selector hermano */
/* h1 + p {
  margin-bottom: 64px;
} */

hr {
  margin: 64px 0;
  /* background: red; */
}

h2 {
  font-size: 2em;
  margin: 60px 0 40px;
  font-weight: normal;
}
h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  position: sticky;
  top: 0;
  background: white;
}
/* #### Backgrounds #### */
pre {
  background: #FEC62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}
/* ### estilos a quote ### */
blockquote {
  font-size: 24px;
  margin: 32px 0;
  padding-left: 16px;
  line-height: 24px;
  /* #### Bordes #### */
  /* Recibe 3 parámetros ancho, tipo y color */
  /* border: 1px solid red; */
  border-left: 4px solid var(--gray30);
  /* ## Borde redondeado ## */
  /* border-radius: 10px; */
}
blockquote span {
  color: var(--gray10);
}
blockquote span::before {
  content: '-';
}

/* #### Posiciones #### */
.header {
  position: sticky;
  top: 0;
}
.header-content {
  position: relative;
}

/* ###### Técnica del wrapper ###### */
.main {
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../img/pattern.png'); */
  /* border: 1px solid red; */
  /* width: 902px; */
  /* Si el elemento es de bloque se puede centrar con margin: auto; */
  /* margin: auto; */
  /* #### Posiciones #### */
  /* position: relative; */
}
.wrapper {
  width: 902px;
  margin: auto;
}
.main-content {
  background: white;
  /* padding: 20px; */
}


/* #### Depurar CSS #### */
/* Se crea una clase utilitaria para usar debug
y poder identificar elementos del código  */
.debug {
  /* Otra forma es con sombras box-shadow reciben 4 parametros
  (inset señala por dentro) X Y Difuminado (expanción) y color */
  box-shadow: inset 0 0 0 1px red;
  /* El outline no modifica los elementos el border si */
  outline: 1px solid red;
  background: red;
  /* border: 1px solid red !important; */
  /* box-sizing: border-box; */
}

.hero {
  /* background: url('../img/pattern.png'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* #### background degradado #### */
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../img/pattern.png');
  height: 350px;
}

/* Márgenes a los .section-content */
.section-content {
  margin-top: 164px;
}
.section-content:first-of-type {
  margin: 0;
}
/* Márgenes a las listas */
.section-content ol li {
  line-height: 24px;
}
.section-content ul li {
  margin-bottom: 16px;
}

/* # se desactiva el hr # */
.section-content + hr {
  display: none;
}
/* Márgenes a las imágenes */
.section-content img {
  margin-top: 40px;
}
/* ### se resetea el contador ### */
.section-content {
  counter-reset: titelist;
}
/* #### Counters #### */
.section-content h3 {
  counter-increment: titlelist;
  padding-bottom: 8px;
}

/* #### Pseudo Elementos #### */
.section-content h3::before {
  /* #### Counters #### */
  content: counter(titlelist, decimal) '. ';

}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;

  /* #### Posiciones #### */
  position: absolute;
  left: 0;
  bottom: 0;
}
/* ::selection {
  background: orange;
} */