/* Reglas CSS: selector { propiedad: valor; }
Si se requiere poner más de un selector,
se separa por una , - selector1, selector2 {etc}*/

/* Para añadir fuentes personalizadas se ytiliza la
regla @font-face */
/* @font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
} */

/* :root tiene peso superior cuando esta de seudoclase */
:root {
  font-size: 18px;
  /* Custom properties o variables en CSS nos ayudarán a
  almacenar datos para ser reutilizados por referencia en
  múltiples partes de nuestras hojas de estilo,
  son modificables según su contexto y también
  manipulables desde JavaScript  */
  --white30: white;
  --white20: #A5A3A5;
  --white10: #3A3539;
}

/* #### COLORES #### */
body {
  color: var(--white30);
  /* #### Google Fonts #### */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: charter; */

   /* ########## Skin del nuevo proyecto ########## */
  font-family: 'Nunito', sans-serif;

  /* ########## Skin del nuevo proyecto ########## */
  background: #251F24;
}
a {
  color: var(--white30);
}
header {
  /* Para modificar el
  color en un cachito determinado */
  /* --white10: red; */
  font-size: 14px;
  color: var(--white);
}
/* #### Skin del nuevo proyecto #### */
header li {
  color: var(--white20);
}
/* selector anidado */
header a {
  color: var(--white20);
  text-decoration: none;
}
header a:hover {
  color: var(--white30);
}
nav details summary {
  font-weight: bold;
}
/* #### Skin del nuevo proyecto #### */
h1, h2, h3 {
  font-weight: normal;
}

h1 {
  font-size: 60px;
  /* font-size: 3.75em; */
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
/* #### Backgrounds #### */
pre {
  background: var(--white10);
}

/* #### Skin del nuevo proyecto #### */
p {
  color: var(--white20);
}
.hero {
  /* #### Skin del nuevo proyecto #### */
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background: url('../img/pattern.png'); */
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* #### background degradado #### */
  /* background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('../img/pattern.png'); */
  height: 350px;
}

/* ###### Tamaños / wrapper ###### */
.section-content img {
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
  /* max-width: 100%; */
}

/* ### se resetea el contador ### */
.section-content {
  counter-reset: titelist;
}
/* #### Counters #### */
.section-content h3 {
  counter-increment: titlelist;
}

/* #### Pseudo Elementos #### */
.section-content h3::before {
  /* #### Counters #### */
  content: counter(titlelist, decimal) '.';

}

.section-content h3::after {
  content: '';
  width: 32px;
  height: 4px;
  background: var(--white30);
  display: inline-block;
}
/* ::selection {
  background: orange;
} */
.main hr{
  display: none;
}

/* ###### Tamaños / wrapper ###### */
.main {
  /* border: 1px solid red; */
}
.wrapper {
  /* border: 1px solid yellow; */
  /* inline-size: 902px; */
  max-inline-size: 902px;
  max-width: 902px;
  /* block-size: 100px; */
  /* overflow: auto; */
  margin: auto;
  /* width: ; */
}
.main-content {
  /* border: 1px solid blue; */
}
/* Sección 6 - Maquetación con propiedades - márgenes */
